.container {
    width: 540px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    border: 1px solid #d0d8dd;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    font-weight: normal;
    font-family: sans-serif;
}

.input-row {
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid #d0d8dd;
}

.input-row:last-child {
    border-bottom: 0;
}

.title {
    margin-right: 2rem;
}

.label {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.input {
    display: flex;
    align-items: center;
    margin-left: auto;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid #0064fe;
    border-radius: 1000px;
    background-color: white;
}

button:hover {
    background-color: #b8dcff;
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #b8dcff;
}

button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

button:active {
    background-color: #7ab8ff;
}

.number {
    font-size: 1.25rem;
    min-width: 5rem;
    text-align: center;
}

.numberValue {
    display: inline;
}

.percentSign {
    display: inline-block;
}

.icon {
    user-select: none;
}

.dim {
    color: #8d9ca7;
}